In [ ]:
#Типы чисел в Python

In [1]:
a=1
print(a)

1

In [2]:
a+1

2

In [3]:
(a + 1) ** 5

32

In [ ]:
#Первый баннер (1 миллион показов и 983 клика): 
banner1_shows - количество показов первого баннера
banner1_clicks  - количество кликов по первому баннеру
 
Второй баннер (100 тысяч показов и 4 клика): 
banner2_shows - количество показов второго баннера
banner2_clicks  - количество кликов по второму баннеру

In [9]:
sootnosheniye_CTR=0
summa_shows=0
banner1_shows=1000000
banner1_clicks=983
banner2_shows=100000
banner2_clicks=4

#общее число показов обоих баннеров
summa_shows=banner1_shows+banner2_shows
print(summa_shows)

# во сколько раз CTR первого баннера больше, чем CTR второго
CTR1=banner1_clicks/banner1_shows
CTR2=banner2_clicks/banner2_shows
sootnosheniye_CTR=CTR1/CTR2
print(sootnosheniye_CTR)

1100000
24.574999999999996

In [34]:
banner1_shows = 1000000

banner1_clicks = 983

CTR = banner1_clicks / banner1_shows

#Определяем типы переменных
type( banner1_shows )

type(CTR )

float

In [20]:
type((2)**0.5) #вычислении квадратного корня из 2. На всякий случай - квадратный корень идентичен возведению в степень 0.5.

float

In [22]:
#Давайте присвоим переменной projectName значение в виде строки.

projectName = 'Python для анализа данных'

#Что выведет система 
print( 'Название курса ' + projectName )

Название курса Python для анализа данных

In [54]:
#Выполните следующие действия:
#возьмите значение показов и кликов первого баннера из прошлого упражнения (1000000 показов и 983 клика)
#выведите на экран значение CTR этого баннера с комментарием в виде: 
#Значение CTR первого баннера равно 0.000983

banner1_shows = 1000000

banner1_clicks = 983
CTR1=0.000983

#CTR1 = banner1_clicks / banner1_shows
#print(CTR1)
print('Значение CTR первого баннера равн' + str(CTR1))

Значение CTR первого баннера равн0.000983

In [55]:
banner1_shows = 1000000

banner1_clicks = 983

ctr = banner1_clicks / banner1_shows

print( ctr )

0.000983

In [56]:
#print( 'Результаты первой кампании: показов {}, кликов {}, CTR {}' )
#В фигурных скобках будут стоять значения переменных a и b, которые мы передадим с помощью метода format:

print( 'Результаты первой кампании: показов {}, кликов {}, CTR {}'.format( banner1_shows, banner1_clicks, ctr ) )

Результаты первой кампании: показов 1000000, кликов 983, CTR 0.000983

In [57]:
#Давайте теперь зададим нашему выводу более читаемый формат. Для чисел количество цифр после запятой задается следующим образом:
#в фигурных скобках пишем :.2f, где 2 - необходимо число знаков после запятой, f - указание на тип float
#для указания процентного формата вместо f ставим %
print( 'Результаты первой кампании: показов {}, кликов {:.1f}, CTR {:.3%}'.format( banner1_shows, banner1_clicks, ctr ) )

Результаты первой кампании: показов 1000000, кликов 983.0, CTR 0.098%

In [58]:
#Список поисковых запросов
queriesList=['смотреть сериалы онлайн','новости спорта','смотреть новости','чемпионат мира по футболу']
print(queriesList)

['смотреть сериалы онлайн', 'новости спорта', 'смотреть новости', 'чемпионат мира по футболу']

In [64]:
justNumbers = [  2,1, 5, 4, 3 ]

#Количество элементов в листе
len( justNumbers )

#Сумма элементов листа
sum( justNumbers )

#Cортировка элементов листа по возрастанию
sorted( justNumbers )

#Если элементы листа представляют собой слова, то сортировка будет происходить по алфавиту 
#Для сортировки по убыванию добавим параметр reverse = True
sorted( justNumbers, reverse = True )

#добавим элемент к листу.
justNumbers = [2, 1, 5, 4, 3]
justNumbers.append( 55 )
print( justNumbers )

[2, 1, 5, 4, 3, 55]

In [65]:
#сортировка по алфавиту
slova=['один', 'два', 'три']
sorted( slova )

['два', 'один', 'три']

In [66]:
#split-перевода строки в лист
queries_string = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"
print( queries_string.split(',') )

['смотреть сериалы онлайн', 'новости спорта', 'афиша кино', 'курс доллара', 'сериалы этим летом', 'курс по питону', 'сериалы про спорт']

In [67]:
file_string="003_logs_2017-11-03;001_logs_2017-11-01;005_logs_2017-11-05;002_logs_2017-11-02;004_logs_2017-11-04"
print( file_string.split(';') )

['003_logs_2017-11-03', '001_logs_2017-11-01', '005_logs_2017-11-05', '002_logs_2017-11-02', '004_logs_2017-11-04']

In [70]:
#Для перевода листа в строку используется функция join.
queriesList = ['смотреть сериалы онлайн', 'новости спорта', 'афиша кино', 'курс доллара', 'сериалы этим летом', 'курс по питону', 'сериалы про спорт']
print( ','.join( queriesList ) )  #если разделитель запятая
print( '\t'.join( queriesList ) ) #если разделитель знак табуляции

results = ['001_logs_2017-11-01', '002_logs_2017-11-02', '003_logs_2017-11-03', '004_logs_2017-11-04', '005_logs_2017-11-05', '006_logs_2017-11-06']
print( '//'.join( results ) ) #если разделитель//

смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт
смотреть сериалы онлайн	новости спорта	афиша кино	курс доллара	сериалы этим летом	курс по питону	сериалы про спорт
001_logs_2017-11-01//002_logs_2017-11-02//003_logs_2017-11-03//004_logs_2017-11-04//005_logs_2017-11-05//006_logs_2017-11-06

In [74]:
#ВЫБОР ЭЛЕМЕНТОВ ЛИСТОВ

sequence = [ 'Google Adwords', 'Yandex Direct', 'Facebook', 'VK', 'Partner' ]
print(sequence[1])

#Если мы хотим получить элементы с первого по третий, то пишем так:
sequence[0:3]

#Выведем все элементы от третьего по счету до последнего в листе
sequence = [ 'Google Adwords', 'Yandex Direct', 'Facebook', 'VK', 'Partner' ]
sequence[2:]

# для получения только четных чисел из последовательности от 1 до 10 используйте следующий синтаксис:
justNumbers = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]
justNumbers[ 1::2 ]

Yandex Direct

[2, 4, 6, 8, 10]

In [75]:
for i in range(10):
    print( i )

0
1
2
3
4
5
6
7
8
9

In [76]:
#вывести квадраты этих значений:

for i in range(10):
    print( i**2 )

0
1
4
9
16
25
36
49
64
81

In [80]:
weekdays = ['понедельник', 'вторник', 'среда', 'четверг', 'пятница', 'суббота', 'воскресенье']
for day in weekdays:
    print('Сегодня {}'.format (day))

Сегодня понедельник
Сегодня вторник
Сегодня среда
Сегодня четверг
Сегодня пятница
Сегодня суббота
Сегодня воскресенье

In [118]:
#создания листов с помощью range:
#- с двумя значениями:range(100, 200) - лист значений от 100 до 199
#- с тремя значениями:range(100, 200, 2) - лист от 100 до 199 с шагом 2

minValue =4
maxValue =18
my_list = range(minValue,maxValue+1)
for i in my_list[0::2]:
    print( i**0.5)

2.0
2.449489742783178
2.8284271247461903
3.1622776601683795
3.4641016151377544
3.7416573867739413
4.0
4.242640687119285